<section>
  <h2>Create your own room</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-pass">Enter password</label>
    <input type="password" id="room-pass" name="password" placeholder="Enter password" />
    <button>
      <img src="./images/users-white.svg" alt="users icon" />
      Create room
    </button>
  </form>
</section>
