<section>
    <h2>Enter as a participant</h2>
    <form action="/enter-room" method="POST">
      <label class="sr-only" for="room-id">Room code</label>
      <input type="number" name="roomId" id="room-id" placeholder="Room code..." />
      <button>
        <img src="./images/login.svg" alt="Join the room" />
        Join Room
      </button>
    </form>
  </section>

  <div class="separator">
    <div></div>
    <div>ou</div>
    <div></div>
  </div>

  <section>
    <h2>Create your own room</h2>
    <a class="button outlined" href="/create-pass">
      <img src="./images/users.svg" alt="users icon" />
      Create room
    </a>
  </section>